<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="\css\style_form.css">
    <title>Document</title>
</head>

<body class="bg-gris-claro body">
    <header class="bg-amarillo ">
        <section class="header-up">
            <div class="logo">
                <img src="\img\logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="W-100">
            </div>
            <div class="search-bar">
                <form action="#" method="post" class="barra-busqueda">
                    <input type="text" name="texto" class="texto">
                </form>
                <i class="fas fa-search lupa" ></i>
            </div>


            <p class="anuncio-header"><i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjetas de créditos</i>
            </p>
            <div class="burger-menu blanco center">
                <i class="fas fa-bars"></i>
            </div>
        </section>
        <section class="header-down">

            <ul class="nav-bar">
                <li><a href="#" class="negro text-decoration">Ofertas</a></li>
                <li><a href="#" class="negro text-decoration">Tiendas oficiales</a></li>
                <li><a href="#" class="negro text-decoration">Vender </a></li>
                <li><a href="#" class="negro text-decoration">Ayuda</a></li>
            </ul>


            <ul class="login-bar">
                <li><a href="/register" class="negro text-decoration">Crea tu cuenta <i
                            class="fas fa-address-card"></i></a>
                </li>
                <li><a href="/login" class="negro text-decoration">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#" class="negro text-decoration">Mis compras<i class="fas fa-shopping-basket"></i></a></i>
                </li>
            </ul>

        </section>

    </header>
    <main class="main bg-gris-claro">
        <p class="Txt-xl bg-gris-claro">Basado en su última visita</p>
        <div class="main"></div>
        <section class="historial-articulos">
            <article class="articulos">
                <img src="\img\img-cafetera-moulinex.jpg" alt="cafetera-moulinex" class="W-100">
                <div class="center informacion-producto bg-blanco">
                    <i class="fas fa-truck"></i>
                    <p class="Txt-l">$6.770</p>
                    <p class="Txt-m">40% OFF</p>
                    <p class="Txt-m descripcion-articulo">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="articulos">
                <img src="\img\img-macbook-pro-2019.jpg" alt="macbook-pro-2019" class="W-100">
                <div class="center informacion-producto">
                    <i class="fas fa-truck"></i>
                    <p class="Txt-l">$230.000</p>
                    <p class="Txt-m">20% off</p>
                    <p class="Txt-m descripcion-articulo">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="articulos">
                <img src="\img\img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" class="W-100">
                <div class="center informacion-producto">
                    <i class="fas fa-truck"></i>
                    <p class="Txt-l">$70.500</p>
                    <p class="Txt-m">10% off</p>
                    <p class="Txt-m descripcion-articulo">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="articulos">
                <img src="\img\img-tv-samsung-smart.jpg" alt="tv-samsung-smart" class="W-100">
                <div class="center informacion-producto">
                    <i class="fas fa-truck"></i>
                    <p class="Txt-l">$23.200</p>
                    <p class="Txt-m">5% off</p>
                    <p class="Txt-m descripcion-articulo">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        </div>
        <p class="Txt-xl">Ofertas</p>
        <section class="articulos-ofertas">
            <article class="articulos">
                <img src="\img\img-cafetera-moulinex.jpg" alt="cafetera-moulinex" class="W-100">
                <div class="center informacion-producto">
                    <i class="fas fa-truck"></i>
                    <p class="Txt-l">$6.770</p>
                    <p class="Txt-m">40% OFF</p>
                    <p class="Txt-m descripcion-articulo">Cafetera Moulinex</p>
                </div>
            </article class="articulos">
            <article class="articulos">
                <img src="\img\img-macbook-pro-2019.jpg" alt="macbook-pro-2019" class="W-100">
                <div class="center informacion-producto">
                    <i class="fas fa-truck"></i>
                    <p class="Txt-l">$230.000</p>
                    <p class="Txt-m">20% off</p>
                    <p class="Txt-m descripcion-articulo">MacBook Pro 2019</p>
                </div>
            </article class="articulos">
            <article class="articulos">
                <img src="\img\img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" class="W-100">
                <div class="center informacion-producto">
                    <i class="fas fa-truck"></i>
                    <p class="Txt-l">$70.500</p>
                    <p class="Txt-m">10% off</p>
                    <p class="Txt-m descripcion-articulo">Samsung Galaxy S10</p>
                </div>
            </article class="articulos">
            <article class="articulos">
                <img src="\img\img-tv-samsung-smart.jpg" alt="tv-samsung-smart" class="W-100">
                <div class="center informacion-producto">
                    <i class="fas fa-truck"></i>
                    <p class="Txt-l">$23.200</p>
                    <p class="Txt-m">5% off</p>
                    <p class="Txt-m descripcion-articulo">SmartTv Samsung 43"</p>
                </div>
            </article class="articulos">
        </section>

    </main>
    <footer class="pie-de-pagina center ">
        <div class="anuncios">
            <div class="info">
                <i class="fas fa-credit-card"></i>
                <p class="Txt-l">Pagá con tarjeta o en efectivo</p>
                <p class="Txt-s">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="info">

                <i class="fas fa-gift"></i>
                <p class="Txt-l">Envío gratis desde $ 2.500</p>
                <p class="Txt-s">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="info">

                <i class="fas fa-user-shield"></i>
                <p class="Txt-l">Seguridad, de principio a fin</p>
                <p class="Txt-s">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>

    </footer>
</body>

</html>


●

7

●

●